.nav-link:hover{
    cursor: pointer;
}
.navbar-brand:hover{
    cursor: pointer;
}
/* .content{
    height: 100%;
    width: 100%;
}
html, body, #app, #app>div {
    height: 100%
  }
#root{
    height: inherit;
} */
body{
    background-color:#E9E9E9;
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 500;
}
.my-nav{
    background-color: #F47F07!important;
    color:#ffffff;
    font-weight: 600;
}
.card-title{
    font-weight: bold;
}
.btn-primary{
    color:#ffffff;
    background-color: #51B8C8;
    border-color: #51B8C8;
}
/* .btn-primary{
    background-color: #0069d9;
    border-color: #0062cc;
} */
.btn-primary:hover{
    background-color: #2e8492;
    border-color: #2e8492;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #37a0b0;
    border-color: #37a0b0;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus{
    box-shadow: 0 0 0 0.2rem rgba(69, 151, 189, 0.5);
}
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #2e8492;
    border-color: #2e8492;
    box-shadow: 0 0 0 0.2rem rgba(69, 151, 189, 0.5);
}
/* .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
} */

.card{
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25)!important;
}
.stackem{
    width: 100%;
}
.p-card{
    min-height: 16em;
    padding: 2em;
}
.invalid-feedback{
    display: block;
    visibility: hidden;
}
.invalid-feedback-show{
    visibility: visible;
}
.my-hide{
    visibility: hidden;
}